.container {
  /* background-color: #cccccc; */
  top: 5%;
  left: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.container nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.logo,
.white {
  cursor: none;
  z-index: 100;
}

.logo {
  opacity: 0;
  height: max-content;
}

.white {
  opacity: 0;
  position: fixed;
}

.opacity {
  opacity: 1;
}

.logo h1,
.white h1 {
  font-family: var(--font);
  font-size: 2rem;
  transition: color 0.3s;
}

.white h1 {
  color: white !important;
}

.nav_links {
  list-style: none;
  cursor: none;
}

.nav_links li {
  position: relative;
  font-weight: 300;
  transition: color 0.3s;
  color: gray;
  cursor: none;
}

.nav_links li:hover {
  color: rgb(255, 255, 255);
}

.menu {
  display: none;
  z-index: 10;
  transition: color 0.3s;
  position: fixed;
  right: 5%;
}

.color {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}

.active {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 660px) {
  .container {
    position: initial;
    top: 0;
    padding-top: 10px;
  }
  .menu {
    display: block;
  }
  .nav_links {
    display: none;
  }

  .white h1 {
    font-size: 1.6rem;
  }
}
