.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  position: sticky;
  top: 0;
}

.content {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

.img {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 140%;
  object-fit: cover;
}

.heading,
.one,
.two,
.three,
.four,
.five {
  position: absolute;
}

.one {
  max-width: 464px;
  width: 32%;
  max-height: 228px;
  height: 28vh;
  top: 8%;
  left: 0;
}
.two {
  max-width: 412px;
  width: 32%;
  max-height: 181px;
  height: 25vh;
  top: 0;
  right: 20%;
}
.three {
  max-width: 214px;
  width: 18%;
  max-height: 248px;
  height: 30vh;
  top: 30%;
  right: 0;
}
.four {
  max-width: 419px;
  width: 32%;
  max-height: 222px;
  height: 28vh;
  bottom: 0;
  right: 25%;
}
.five {
  max-width: 300px;
  width: 25%;
  max-height: 331px;
  height: 45vh;
  bottom: 0;
  left: 10%;
}

.heading {
  top: 50%;
  transform: translateY(-50%);
  right: 35%;
}

.heading h1 {
  font-family: var(--font);
  font-size: 4rem;
  color: #818181;
}
