.container {
  background-color: #131313;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 50%;
  height: 50vh;

  pointer-events: none;
  transition: all 0.3s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  pointer-events: all;
  opacity: 1;
}

.nav_links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_links li {
  font-size: 1.2rem;
  color: white;
}
