.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-weight: 400;
  font-size: 2.3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.img img {
  width: 100%;
}

.desc {
  padding: 1rem 1.5rem;
}

.desc h2 {
  color: gray;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 0.5;
}

.desc p {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 300;
}

@media only screen and (min-width: 730px) {
  .container {
    display: none;
  }
}
